.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  margin: 5px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item:hover {
  background-color: #2196F3;
  color: rgba(255, 255, 255, 0.8);
}
.answer {
  font-size: 40px;
  background-color: #2196F3;
  padding: 10px;
  color: white;
  text-align: right;
}

.equation {
  font-size: 50px;
  background-color: #2196F3;
  padding: 10px;
  color: white;
  text-align: right;
}